[Unit]
Description=Librespot Spotify Connect Client
Documentation=https://github.com/librespot-org/librespot
After=network-online.target chrony.service avahi-daemon.service
Wants=network-online.target avahi-daemon.service
Requires=chrony.service avahi-daemon.service

[Service]
Type=simple
User=nobody
Group=audio
EnvironmentFile=/etc/default/librespot
ExecStartPre=/bin/mkdir -p "$LIBRESPOT_CACHE" "$LIBRESPOT_SYSTEM_CACHE"
ExecStartPre=/bin/chown nobody:audio "$LIBRESPOT_CACHE" "$LIBRESPOT_SYSTEM_CACHE"
ExecStart=/usr/bin/librespot
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
