# Common Aesthetic Buildroot configs

# System configuration
BR2_TARGET_ROOTFS_EXT2_SIZE="1G"
BR2_TARGET_GENERIC_HOSTNAME="aesthetic"
BR2_TARGET_GENERIC_ROOT_PASSWD="aesthetic"
BR2_INIT_SYSTEMD=y

# Keep root filesystem read-only
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set

# Overlay
BR2_ROOTFS_OVERLAY="board/aebr/rootfs-overlay"

# Linux kernel extras
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/aebr/linux.fragment"

# BTRFS
BR2_PACKAGE_BTRFS_PROGS=y

# Time synchronization
BR2_PACKAGE_CHRONY=y

# SSH
BR2_PACKAGE_DROPBEAR=y

# Hardware RNG
BR2_PACKAGE_RNG_TOOLS=y

# ALSA
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACTL=y
BR2_PACKAGE_ALSA_UTILS_ALSAMIXER=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_ALSA_UTILS_IECSET=y

# Avahi
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_AVAHI_AUTOIPD=y

# WiFi support
BR2_PACKAGE_IWD=y

# Wireless networking tools
BR2_PACKAGE_IW=y

# General networking tools
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_IPERF3=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_BRIDGE_UTILS=y
